.admin {
    width: 980px;
}

.ad-boder {
    border: 1px;
    border-style: ridge;
}

.list-add {
    border: 1px;
    border-style: ridge;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}