.icon {
    background: #f2faff;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    img {
        margin-right: 6px;
        float: left;
        width: auto;
        border: 0;
    }
}

.boxright {
    margin-top: 10px;
}

.sitebar {
    float: right;
    width: 200px;
}

.banner-top {
    width: 100%;
    z-index: 1;
}

.content-banner {
    position: relative;
    float: right;
    display: flex;
}

.icon:after {
    content: "";
    clear: both;
    display: table;
}

.icon:hover {
    cursor: pointer;
    background: #bcd0e1;
}

.map_canvas {
    margin-top: 5px;
    width: 100%;
    height: auto;
}