* {
  margin: 0 auto;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif; }

@media screen and (min-width: 768px) {
  .banner {
    width: 980px;
    height: 122px; } }
.banner {
  position: relative;
  background: url("../images/header.png") no-repeat; }
  .banner .logo {
    position: absolute;
    float: left;
    width: 115px;
    height: auto;
    left: 10px;
    top: 4px; }
    .banner .logo a {
      text-decoration: none; }
  .banner .text-bg {
    text-align: center;
    width: 70%;
    top: 20px;
    padding-top: 20px; }
    .banner .text-bg a {
      text-decoration: none; }
      .banner .text-bg a h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0; }

.head-top {
  height: 40px;
  padding: 0; }

.namenu {
  height: 36px;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: bold; }
  .namenu li a {
    padding: 10px;
    color: #ffffff;
    text-decoration: none; }

.nav a:hover {
  height: 36px;
  color: #ff0000; }

.collapse {
  font-size: 14px;
  background-color: #1874CD;
  width: 980px; }

.btn-search {
  color: #1874CD;
  font-weight: bold;
  padding: 2px 8px;
  border: 1px solid #21436b;
  border-radius: 3px;
  display: inline-block;
  background: #ffffff;
  line-height: 20px; }

.search {
  float: right;
  margin-right: -10px;
  margin-top: 4px;
  margin-bottom: 0; }
  .search .txtsearch {
    background: #ececee;
    height: 25px;
    margin: 0;
    width: 200px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #ececee; }

.Language {
  float: right; }

.Languages {
  float: right;
  margin-right: 2px;
  margin-top: 2px; }
  .Languages li {
    display: inline-block; }

@media only screen and (min-width: 768px) {
  .footerb {
    position: relative;
    width: 980px;
    height: 150px;
    margin: auto;
    background-color: #1874CD; } }
.footer-title {
  text-align: center;
  text-transform: uppercase;
  top: 0;
  margin: 0;
  padding: 0;
  color: #ffffff;
  left: 0; }

.nav-fotter {
  border-right: 1px solid #ffffff;
  height: 20px; }

.ftmenu {
  height: 40px;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: bold; }
  .ftmenu li a {
    padding: 10px;
    color: #ffffff;
    text-decoration: none; }

.icon {
  background: #f2faff;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase; }
  .icon img {
    margin-right: 6px;
    float: left;
    width: auto;
    border: 0; }

.boxright {
  margin-top: 10px; }

.sitebar {
  float: right;
  width: 200px; }

.banner-top {
  width: 100%;
  z-index: 1; }

.content-banner {
  position: relative;
  float: right;
  display: flex; }

.icon:after {
  content: "";
  clear: both;
  display: table; }

.icon:hover {
  cursor: pointer;
  background: #bcd0e1; }

.map_canvas {
  margin-top: 5px;
  width: 100%;
  height: auto; }

.news-popular {
  position: relative;
  border-bottom: 2px solid #02498b;
  padding: 5px;
  margin-bottom: 0; }

.news h3 {
  font-size: 15px;
  text-transform: uppercase;
  border-bottom-width: 2px;
  color: #02498b;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 6px; }

.admin {
  width: 980px; }

body {
  background-color: #FFFFFF; }

.list-add {
  border: 1px;
  border-style: ridge;
  margin-top: 10px;
  margin-bottom: 10px; }

.cut-string {
  width: 163px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.cut-string-content {
  width: 489px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.btn-grbutton {
  padding: 0;
  margin: 0 0 10px 20px; }

.table-fixed {
  width: 100%;
  border: 1px;
  border-style: ridge; }
  .table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%; }
  .table-fixed thead,
  .table-fixed tbody,
  .table-fixed tr,
  .table-fixed td,
  .table-fixed th {
    display: block; }
  .table-fixed tbody td {
    float: left; }
    .table-fixed tbody td input {
      margin: 0; }
  .table-fixed thead tr th {
    margin: 0;
    float: left; }

@media only screen and (min-width: 768px) {
  .content-top {
    width: 980px;
    padding: 0; } }
img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%; }

.imgLeft, .img-left-child {
  float: left;
  width: 40%;
  margin: 0 10px 2px 0; }

.img-left-child {
  width: 87px; }

.box-child {
  border-top: 1px solid #f5f5f5;
  margin-bottom: 30px;
  padding-top: 10px; }

a:hover {
  text-decoration: none;
  color: #1874CD;
  cursor: pointer; }

.title-item {
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px solid #02498b;
  background-color: #ececee; }
  .title-item span :after {
    height: 28px;
    width: 32px;
    content: "";
    background: url("../images/bgttright.jpg") no-repeat;
    position: absolute;
    right: -31px;
    top: 0; }
  .title-item span a {
    text-decoration: none;
    display: inline-block;
    height: 28px;
    color: #fff;
    padding: 0 10px 0 10px;
    background: url("../images/bgttleft.jpg") repeat-x;
    position: relative;
    margin-right: 30px;
    line-height: 30px;
    text-transform: uppercase; }

.newtitle, a:hover {
  font: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px; }

.box_main {
  padding: 0;
  margin: 0; }

.content-box {
  padding-left: 0;
  margin: 0;
  border: 0; }

.more {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 12px; }

.view-more {
  width: 100%;
  display: block;
  padding: 0;
  border-top: 1px solid #f5f5f5; }
  .view-more li:hover {
    width: 50%;
    color: #ffffff;
    background-color: #02498b; }

.newsDetail {
  width: 196px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
