@import "header";
@import "footer";
@import "slidebar";
@import "detail";
@import "admin";
$font-stack: Arial,
Helvetica,
sans-serif;
@media only screen and (min-width: 768px) {
    .content-top {
        width: 980px;
        padding: 0;
    }
}

img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

//div hinh ben trai
.imgLeft {
    float: left;
    width: 40%;
    margin: 0 10px 2px 0;
}

//hinh con 
.img-left-child {
    @extend .imgLeft;
    width: 87px;
}

// box new child
.box-child {
    border-top: 1px solid #f5f5f5;
    margin-bottom: 30px;
    padding-top: 10px;
}

// .view-more {
//     display: block;
//     padding: 0;
//     line-height: 24px;
//     border-top: 1px solid #f5f5f5;
//     transition: 0.8s;
//     color: #000;
//     background: red;
// }
a:hover {
    @extend .newtitle;
    text-decoration: none;
    color: #1874CD;
    cursor: pointer;
}

//title news box
.title-item {
    font-weight: bold;
    font-size: 12px;
    border-bottom: 1px solid #02498b;
    background-color: #ececee;
    span {
         :after {
            height: 28px;
            width: 32px;
            content: "";
            background: url("../images/bgttright.jpg") no-repeat;
            position: absolute;
            right: -31px;
            top: 0;
        }
        a {
            text-decoration: none;
            display: inline-block;
            height: 28px;
            color: #fff;
            padding: 0 10px 0 10px;
            background: url("../images/bgttleft.jpg") repeat-x;
            position: relative;
            margin-right: 30px;
            line-height: 30px;
            text-transform: uppercase;
        }
    }
}

.newtitle {
    font: $font-stack;
    font-weight: bold;
    font-size: 14px;
}

.box_main {
    padding: 0;
    margin: 0;
}

.content-box {
    padding-left: 0;
    margin: 0;
    border: 0;
}

.more {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}

.view-more {
    width: 100%;
    display: block;
    padding: 0;
    border-top: 1px solid #f5f5f5;
    li:hover {
        width: 50%;
        color: #ffffff;
        background-color: #02498b;
    }
}

.newsDetail {
    width: 196px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}