<div class="container">
    <div class="row">
        <div class="admin" ng-controller="admin">
            <table class="table table-fixed table-bordered ">
                <thead>
                    <tr>
                        <th class="col-xs-1">#</th>
                        <th class="col-xs-2">Time</th>
                        <th class="col-xs-2">Category</th>
                        <th class="col-xs-7">Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in adItem">
                        <td class="col-xs-1"><input type="checkbox"></td>
                        <td class="col-xs-2 ">{{item.time}}</td>
                        <td class="col-xs-2 ">{{item.category}}</td>
                        <td class="col-xs-7 ">{{item.title}}</td>
                    </tr>
                </tbody>
            </table>
            <!--button add delete update-->
            <section>
                <button type="button" class="btn btn-info" ng-click="inactive = !inactive">Add</button>
                <button type="button" class="btn btn-info" ng-click="inactive = !inactive">Update</button>
                <button type="button" class="btn btn-info">Delete</button>
            </section>
            <!--news add new,-->
            <div class="list-add" ng-show="inactive">
                <p style="border-bottom: 1px ridge lightgray;" ng-show="inactive">Add new</p>
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2  col-form-label" ng-disabled="checked">Category</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                    <option>Category</option>
                                    <option>Category A</option>
                                    <option>Category B</option>
                                    <option>Orther</option>
                                </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="text" id="example-text-input" ng-disabled="inactive">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Content</label>
                        <div class="col-sm-10">
                            <textarea class="form-control " id="exampleTextarea" rows="3"></textarea>
                        </div>
                    </div>
                    <!--group button Preview summit Cancel Clear-->
                    <section class="btn-grbutton">
                        <button type="button" class="btn btn-success">Preview</button>
                        <button type="button" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-success">Cancel</button>
                        <button type="button" class="btn btn-success">Clear</button>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>