<div class="content">
    <div class="container">
        <div class="content-top">
            <div class="row">
                <div class="main-detail">
                    <div class="col-xs-12 col-sm-9" ng-controller="detailController">
                        <div class="col-xs-12 col-sm-8 content-box">
                            <h3 class="title-item">
                                <span><a href="#">{{detail.category}}</a></span>
                            </h3>
                            <h1>{{detail.titile}}</h1>
                            <div class="page-detail">
                                <div class="content-detail">
                                    <strong>{{detail.title}}</strong>
                                </div>
                                <img src="{{detail.images}}" class="img-responsive img-fluid" alt="">
                                <p>{{detail.content}}</p>
                            </div>
                            <section>
                                <p class="text-right" style="font-weight: bold">{{detail.author}}</p>
                                <button style="float: right;padding: 10px;margin-top: 10px;">IN</button>
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="news">
                                <h3 class="news-popular">
                                    <strong>NỘI DUNG PHỔ BIẾN</a></strong>
                                </h3>
                                <ul>
                                    <li><a>Sử dụng tên miền, những quy định không thể bỏ qua</a></li>
                                    <li><a>Sử dụng tên miền, những quy định không thể bỏ qua</a></li>
                                    <li><a>Sử dụng tên miền, những quy định không thể bỏ qua</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <section class="boxright">
                            <a href="#"><img src="./images/bar.jpg" alt=" " class="img-fluid"></a>
                        </section>
                        <section class="map_canvas">
                            <img class="img-fluid " src="./images/tsty.jpg" alt=" ">
                        </section>
                        <div class="right map_canvas" ng-controller="sitebarController">
                            <a href="#" class="icon " title="Số dt dây nóng " ng-repeat="item in slideItem ">
                                <img src="{{item.imageUrl}} " alt="list">
                                <span>{{item.name}}</span>
                            </a>
                        </div>
                        <section class="map_canvas ">
                            <img class="img-fluid " src="./images/hocTap.gif " alt="hoc tap">
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>