<div class="content">
    <div class="container">
        <div class="content-top">
            <div class="row">
                <div class="main-detail">
                    <div class="col-xs-12 col-sm-9" ng-controller="detailController">
                        <div class="col-xs-12 col-sm-8 content-box">
                            <h3 class="title-item">
                                <span><a href="#/">TIN ĐỊA PHƯƠNG</a></span>
                            </h3>
                            <h1>{{detail.name}}</h1>
                            <div class="page-detail">
                                <div class="content-detail">
                                    <span>{{detail.description}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="news">
                                <h3 class="news-popular">
                                    <span><a href="#/">NỘI DUNG PHỔ BIẾN</a></span>
                                </h3>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>