<div class="content">
    <div class="container">
        <div class="content-top">
            <div class="row no-gutters">
                <div class=" col-md-9 col-xs-8" ng-controller="content">
                    <!--mainBox-->
                    <div class="col-md-6 col-sm-12 col-xs-12 content-box" ng-repeat="content in contentData">
                        <div class="box_main">
                            <h3 class="title-item">
                                <!--title content box-->
                                <span><a href="#/detail">{{content.name}}</a></span>
                            </h3>
                            <div>
                                <!--title news content-->

                                <a class="newtitle" href="#/detail">{{content.title}}</a>
                                <div class="imgLeft">
                                    <img src="{{content.imageUrl}}" class="img-fluid" alt="">
                                </div>
                                <!--news content-->
                                <div class="newsdetail">
                                    <p>{{content.description}}</p>
                                </div>

                            </div>
                            <!--Main box news child1-->
                            <div class="col-xs-12 content-box">
                                <div class="box-child">
                                    <div class="img-left-child">
                                        <img src="{{content.imageUrl}}" class="img-fluid" alt="">
                                    </div>

                                    <div class="newsdetail">
                                        <a>{{content.titleChild}}</a>
                                    </div>
                                </div>
                            </div>
                            <!--Main box news child 2-->
                            <div class="col-xs-12 content-box">
                                <div class="box-child">
                                    <div class="img-left-child">
                                        <img src="{{content.imageUrl}}" class="img-fluid" alt="">
                                    </div>
                                    <div class="newsdetail">
                                        <a href="#">{{content.tchild}}</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!--<a href="#" class="view-more">Xem tiếp
                                <i class="fa fa-angle-double-right"></i>
                            </a>-->
                    </div>
                </div>


                <!--bannerRight-->
                <div class="col-xs-12 col-md-3 col-sm-3 content-box" ng-controller="slideBar">
                    <div class=" boxright">
                        <a href="#">
                            <span>Thông Báo</span>
                            <img src="./images/bar.jpg" alt=" ">
                        </a>
                    </div>
                    <div class="right1">
                        <a href="#" class="icon " title="Số dt dây nóng " ng-repeat="item in slideItem ">
                            <img src="{{item.imageUrl}} " alt=" ">
                            <span>{{item.name}}</span></a>
                    </div>
                    <section>
                        <div class="map_canvas "><img class="img-fluid " src="./images/hocTap.gif " alt=" " </div>
                    </section>
                    </div>
                    <!--endbannerright-->


                </div>
            </div>
        </div>
    </div>